body {
    padding-bottom: 3rem;
}
.events b{
  background-color:rgb(0, 0, 0);
  display: inline-block;
  height: 1px;
  margin-left: 20px;
  margin-right: 20px;
  opacity: 0.5;
  vertical-align: middle;
  width: 60px;
}
main a{
  color: inherit;
}
main a:hover{
  text-decoration: none;
}
main h2{
  font-family: "Microsoft JhengHei", 
  "明黑", Arial, Helvetica;
}
.events .textwrapper p{
  opacity: 0.7;
}
.events a.newsmore{
  height: 48px;
  font-size: 14px;
  line-height: 48px;
  border: 1px solid #000;
  padding: 0 20px;
  display: block;
  opacity: 0.8;
  margin: 60px auto;
  width: 150px;
  color: #000;
  text-align: center;
  opacity: 0.5;
}
.events a.newsmore:hover{
  opacity: 0.9;
}
.events img.icon{
  margin-right: 2px;
  height: 12px;
  width: 12px;
  vertical-align: middle;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  .events  .newsmore {
    margin-top: 20px!important; 
  }
  .events .col-md-4:not(:first-child){
    margin-top: 15px;
  }
  .notice-title{
    font-size: 1.3rem;
    width: 100px!important;
  }
  .notice-slider123{
    padding-left: 110px!important;
  }
}
.notice{
  background-color: #6f42c1;
  position: relative;
  padding: 0;
}
.notice-title{
  width: 150px;
  display: inline-block;
  height: 100%;
  line-height: 70px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 2;
  line-height: 60px;
  /* opacity: 0.7; */
  color: #fff;
  font-family: 宋体;
}
.notice-title a:hover{
  color: #FFCD00;
}
.notice-slider123{
  padding-left: 165px;
  padding-right: 35px;
  white-space: nowrap;
}
.notice .notice-title::before
,.notice .notice-title::after
, .notice::after{
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background: url(../images/notice-l.png) center center no-repeat;
  background-size: 50% auto;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  content: ' ';
}
.notice .notice-title::before{
  left: 0;
}
.notice .notice-title::after{
  right: 0;
}
.notice::after{
  right: 0;
}
.notice .slider-div{
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  height: 60px;
}
.notice-list{
  padding: 0;
  margin: 0;
  height: 100%;
  position: absolute;
  /* 禁止换行（再将li设为display：inline-block */
  white-space: nowrap;
  cursor: move;
}
.notice-list-clone{
  display: inline-block;
  vertical-align: top;
}
.notice-list li{
  display: inline-block;
  margin-right: 20px;
  opacity: 0.7;
}
.notice-list li a{
  line-height: 60px;
  color: #fff;
  padding-left: 25px;
}
.notice-list li:hover{
  opacity: 0.9;
}
.notice-list li:hover a{
  color: #FFCD00;
}
.notice-list li:hover a:before{
  background: #FFCD00;
  border:1px solid #FFCD00;
}
.notice-list li a:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border:1px solid #fff;
  /* background-color: #6f42c1; */
  border-radius: 50%;
  margin-right:5px;
}